.App {
  font-family: sans-serif;
  text-align: center;
}
.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-container {
  padding: 16px;
  margin: 10px;
  background: salmon;
}
